@charset "utf-8";

@mixin padding {
    margin: 0;
    padding: 0;
}
@mixin lis {
    list-style: none;
}
body{
    @include padding;
}

$width:1230px;
$height:70px;
header{
    width: $width;
    height: $height;
    background: pink;
    margin: 0 auto;
    line-height: $height;
        img{
            width: 85px;
            height: 26.17px;  
            float: left;
            margin: 21.6px 50px 21.6px 0;
        }
        .navli{
            // width: 663.2px;
            height: $height;
                .nav-li{
                    float: left;
                    background: wheat;
                    padding: 0 20px;
                    ul{
                        display: none;
                    }
                }
        }    
}

.banner{
    width: $width;
    height: $height;
    background: red;
    margin: 0 auto;
}