body {
  margin: 0;
  padding: 0;
}

header {
  width: 1230px;
  height: 70px;
  margin: 0 auto;
  background: orange;
  line-height: 70px;
}
header img {
  width: 85px;
  height: 26.17px;
  float: left;
  margin: 21.6px 50px 21.6px 0;
}
header .navli {
  height: 70px;
}
header .navli .nav-li {
  float: left;
  background: wheat;
  padding: 0 20px;
}
header .navli .nav-li ul {
  display: none;
}

body {
  margin: 0;
  padding: 0;
}

.banner {
  width: 1583px;
  height: 527.66px;
  background: teal;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
}

.heart_wrap {
  width: 1583px;
  height: 968px;
  background: wheat;
  margin: 0 auto;
}

.content_wrap {
  width: 1583px;
  height: 744px;
  background: forestgreen;
  overflow: hidden;
}
.content_wrap .content {
  width: 1230px;
  height: 684px;
  margin: 60px auto;
  background: gold;
}
.content_wrap .content .xinxuan_box {
  width: 500px;
  height: 648px;
  background: indianred;
  float: left;
}
.content_wrap .content .xinxuan_box2 {
  width: 350px;
  height: 324px;
  background: #fff;
  float: left;
}

.banner2_wrap {
  width: 1583px;
  height: 800px;
  margin: 0 auto;
  background: lightseagreen;
}
.banner2_wrap .banner2_content {
  width: 1230px;
  height: 800px;
  background: orange;
  margin: 0 auto;
}

.paihang_wrap {
  width: 1583px;
  height: 874px;
  background: palegreen;
  margin: 0 auto;
}
.paihang_wrap .show_box {
  width: 1583px;
  height: 696px;
}
.paihang_wrap .show_box .showbox_bx {
  width: 1230px;
  height: 696px;
  margin: 0 auto;
  background: floralwhite;
}

.showbox_bx li {
  width: 410px;
  height: 636px;
  background: goldenrod;
  list-style: none;
  float: left;
}

.container {
  width: 100vw;
}

.title {
  width: 1583px;
  height: 98px;
}
.title h1 {
  width: 1583px;
  height: 98px;
  margin: 0 auto;
  text-align: center;
  background: rosybrown;
  line-height: 98px;
}

.heart_bx {
  width: 1230px;
  height: 60px;
  margin: 0 auto;
  background: yellowgreen;
}

.active_wrap {
  width: 1583px;
  height: 693px;
  margin: 0 auto;
  background: khaki;
  margin-top: 50px;
}
.active_wrap .active_content {
  width: 1230px;
  height: 578px;
  margin: 0 auto;
  background: lightblue;
}
.active_wrap .active_content .active_left {
  width: 612.05px;
  height: 578px;
}
.active_wrap .active_content .active_right {
  width: 612.05px;
  height: 578px;
}

.pinpai_wrap {
  width: 1583px;
  height: 1329px;
  margin: 0 auto;
  background: lightseagreen;
}
.pinpai_wrap .story_box {
  max-width: 1583px;
  height: 195px;
  padding-top: 80px;
}
.pinpai_wrap .story_box .story_content {
  width: 1230px;
  height: 115px;
  margin: 0 auto;
  background: linen;
}
.pinpai_wrap .story_box .story_content .story_title {
  width: 1200px;
  height: 42px;
  line-height: 42px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
  color: #444444;
}
.pinpai_wrap .story_box .story_content .story_msg {
  width: 1200px;
  height: 48px;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
}

.video_wrap {
  width: 1583px;
  height: 1134px;
  margin: 0 auto;
}
.video_wrap .video_bx {
  width: 1230px;
  height: 756px;
  margin: 0 auto;
  background: mediumslateblue;
}
.video_wrap .video_bx img {
  width: 100%;
  text-align: center;
  height: 100%;
}

.news_wrap {
  width: 1583px;
  height: 742px;
  margin: 0 auto;
}
.news_wrap .news_content {
  width: 1230px;
  height: 742px;
  margin: 0 auto;
  background: gray;
}
.news_wrap .news_content .news_title {
  width: 1230px;
  height: 167px;
  padding-top: 7.7px;
  padding-bottom: 9.8px;
  background: honeydew;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #444444;
  line-height: 167px;
}

.news_main {
  width: 1230px;
  height: 575px;
  position: relative;
}
.news_main .news_left {
  width: 640px;
  height: 568px;
  background: lightblue;
  position: relative;
}
.news_main .news_left .img_box {
  width: 640px;
  height: 360px;
}
.news_main .news_left .img_box img {
  width: 100%;
  height: 100%;
}
.news_main .detail_title {
  width: 640px;
  height: 34px;
  font-size: 32px;
  font-weight: bold;
  color: #444444;
  line-height: 34px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 42px;
  margin-bottom: 42px;
}
.news_main .detail_mian {
  width: 640px;
  height: 52px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 16px;
  line-height: 24px;
  color: #666;
}
.news_main .detail_line {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 640px;
  height: 2px;
  background: #c7d3d9;
}
.news_main .detail_line .js_line {
  position: absolute;
  left: 0;
  height: 100%;
  background: #0c5ca8;
  width: 60px;
}
.news_main .news_right {
  width: 420px;
  height: 568px;
  position: absolute;
  right: 0;
  top: 0;
  background: sandybrown;
}
.news_main .news_right .new_top {
  width: 60px;
  height: 8px;
  background: #0c5ca8;
}
.news_main .news_right a {
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  font-size: 18px;
}
.news_main .news_right .rightnew1 {
  width: 420px;
  height: 189px;
  background: khaki;
  padding: 35px 0 20px;
}
.news_main .news_right .rightnew1 .new1_title {
  width: 100%;
  height: 52px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 10px;
}
.news_main .news_right .rightnew1 .new1_main {
  width: 100%;
  height: 42px;
  line-height: 21px;
  font-size: 14px;
  width: 420px;
  height: 46px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/*# sourceMappingURL=haier.css.map */
