@charset "utf-8";

@mixin padding {
    margin: 0;
    padding: 0;
    list-style: none;
}


li{
    @include padding;
}

.banner{
    width: 1583px;
    height: 527.66px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
        ul{
            position: absolute;
            left: 0;
            top: 0;
                li{
                    float: left;
                        img{
                            width: 1583px;
                            height: 528px;
                            display: block;
                        }
                }
        }
        ol{
            position: absolute;
            left: 45%;
            bottom: 10px;
            display: flex;
            flex-direction: row;
                li{
                    width: 26px;
                    height: 26px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                        span{
                            display:inline-block;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background: #fff;
                            text-align: center;
                        }
                }
        }
        p{
            width: 50px;
            height: 50px;
            border-radius: 50px;
            background: #f6f6f6;
            text-align: center;
            position: absolute;
            top: 50%;
            padding: 10px 10px 10px 10px;
            z-index: 99999;
            display: none;
            cursor: pointer;
                &:hover{
                    opacity: 0.7;
                }
               .iconl{
                   opacity: 0.7;
                   font-size: 30px;
               }
               
        }
        .right{
            right: 100px;
        }
        .left{
            left: 100px;
        }
}

.active{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid #fff;
}