@charset "utf-8";

$width:1230px;
.active_wrap{
    width: 1583px;
    height: 693px;
    margin: 0 auto;
    background: khaki;
    margin-top: 50px;
        .active_content{
            width: $width;
            height: 578px;
            margin: 0 auto;
            background: lightblue;
                .active_left{
                    width: 612.05px;
                    height: 578px;
                }
                .active_right{
                    width: 612.05px;
                    height: 578px;
                }
        }
}
