@charset "utf-8";

$width:1230px;
$height:742px;

@mixin ellipsis($w:420px, $h:46px) {
    width: $w;
    height: $h;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.news_wrap{
    width: 1583px;
    height: $height;
    margin: 0 auto;
        .news_content{
            width: $width;
            height: $height;
            margin: 0 auto;
            background: gray;
                .news_title{
                    width: $width ;
                    height: 167px;
                    padding-top: 7.7px;
                    padding-bottom: 9.8px;
                    background: honeydew;
                    font-size: 40px;
                    font-weight: bold;
                    text-align: center;
                    color: #444444;
                    line-height: 167px;
                } 
        }
}
.news_main{
    width:$width ;
    height: 575px;
    position: relative;
        .news_left{
            width: 640px;
            height: 568px;
            background: lightblue;
            position: relative;
                .img_box{
                    width: 640px;
                    height: 360px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                }
        }
        .detail_title{
                width: 640px;
                height: 34px;
                font-size: 32px;
                font-weight: bold;
                color: #444444;
                line-height: 34px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                margin-top: 42px;
                margin-bottom: 42px;
        }
        .detail_mian{
            width: 640px;
            height: 52px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            font-size: 16px;
            line-height: 24px;
            color: #666;
        }
        .detail_line{
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 640px;
            height: 2px;
            background: #c7d3d9;
                .js_line{
                    position: absolute;
                    left: 0;
                    height: 100%;
                    background: #0c5ca8;
                    width: 60px;
                }
        }
       .news_right{
           width: 420px;
           height: 568px;
          position: absolute;
          right: 0;
          top: 0;
           background: sandybrown;
            .new_top{
                width: 60px;
                height: 8px;
                background: #0c5ca8;
            }
            a{
                position: absolute;
                right: 0;
                top: 0; 
                text-decoration: none;
                font-size: 18px;
            }
            .rightnew1{
                width: 420px;
                height: 189px;
                background: khaki;
                padding: 35px 0 20px;
                    .new1_title{
                        width: 100%;
                        height: 52px;
                        font-size: 18px;
                        font-weight: bold;
                        color: #000000;
                        margin-bottom: 10px;
                    }
                    .new1_main{
                        width: 100%;
                        height: 42px;
                        line-height: 21px;
                        font-size: 14px;
                        @include ellipsis;
                    }
            }
       } 
}