@charset "utf-8";

@mixin margin {
    margin: 0 auto;
}
$width:1230px;

.paihang_wrap{
    width:  1583px;
    height: 874px;
    @include margin;
    overflow: hidden;
    position: relative;
        .show_box{
            width: 1583px;
            height: 696px;
            margin-top: 52px;
                .showbox_bx{
                    width: $width;
                    height: 696px;
                    @include margin;
                    display: flex;
                    justify-content: space-around;
                        li{
                            width:380px ;
                            height: 600px;
                            list-style: none;
                            float: left;
                            background: #FFFFFF;
                            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
                            transition: all 0.8s;
                        }
                }
        }
}
.paihang_wrap .paihang_bg{
    width: 100%;
    height: 550px;
    position: absolute;
    top: 0;
    left: 0;
    background: #f6f7f9;
}


.showbox_bx .show{
    width: 380px;
    height: 380px;
    padding: 20px;
    position: relative;
      &:hover img{
        transform: scale(1.1);
        transition-duration: 0.8s;
      }
        i{
            display:inline-block;
            width:50px ;
            height: 60px;
            background: url(https://image.haier.com/cn/images/haier2019_homepage_paihang1.png)no-repeat;
        }
        img{
            width: 340px;
            height: 340px;
            position: absolute;
            top: 20px;
            left: 20px;
        }
    
}
.showbox_bx .show_name{
    width: 380px;
    height: 20px;
    text-align: center;
    font-size: 18px;
    margin: 37px 0 15px;
    color: #111111;
}
.showbox_bx .xinghao{
    width: 380px;
    height: 14px;
    text-align: center;
}
.showbox_bx .circle{
    width: 180px;
    height: 53px;
    text-align: center;
    border-radius: 30px;
    border: 1px solid #0c5ca8;
    color:#0c5ca8 ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 38px 0 0 100px ;
        a{
            color:#0c5ca8;
        }
}