@charset "utf-8";

$width:1230px;
.pinpai_wrap{
    width: 1583px;
    height: 1329px;
    @include margin;
    background: wheat;
        .story_box{
            max-width: 1583px;
            height:195px ;
            padding-top: 80px;
                .story_content{
                    width: $width;
                    height: 115px;
                    @include margin;
                        .story_title{
                            width: 1200px;
                            height: 42px;
                            line-height: 42px;
                            font-size: 40px;
                            font-weight: bold;
                            text-align: center;
                            margin-bottom: 25px;
                            color: #444444;
                        }
                        .story_msg{
                            width: 1200px;
                            height: 48px;
                            line-height: 24px;
                            font-size: 14px;
                            text-align: center;
                        }

                }
        }
}

.video_wrap{
    width: 1583px;
    height: 1134px;
    @include margin;
        .video_bx{
            width: $width;
            height: 756px;
            @include margin;
            background: mediumslateblue;
                img{
                    width: 100%;
                    text-align: center;
                    height: 100%;
                }
        }
}