@charset "utf-8";

$width:1230px;
$color:#005aaa;

.cart_wrap{
    width: 1583px;
    // height: 500px;
    margin-bottom: 50px;
        .shangp{
            width: $width;
            height: 37px;
            margin: 0 auto;
            font-size: 16px;
            padding-top: 15px;
        }
        .cart_head{
            width:$width ;
            height:43px;
            margin: 0 auto;
            padding: 5px 0;
            background: #f3f3f3;
            color: #666;
            border: 1px solid #f3f3f3;
                .select{
                    padding: 8px 0 0 11px;
                    float: left;
                    margin-right: 117px;
                }
                .goods{
                    float: left;
                    line-height: 32px;
                }
                .carthead_right{
                    // float: right;
                    line-height: 32px;
                    display:flex;
                    justify-content: space-between;
                        p{
                            float: left;
                            margin-right:50px ;
                        }         
                }
        }
}

.cartlist_item{
   
    .warp{
        margin-bottom: 20px;
        width: $width;
        margin: 0 auto;
        padding:0 0 0 8px;
    }

}
       
            .info {
            width: $width;
            border: 1px solid #f3f3f3;
            margin-top: 25px;

                ul{
                    width: $width;
                    height: 125px;
                    margin-top: 20px;
                    display: none;
                }
            }
            
            .info li {
            height: 80px;
            float: left;
                img{
                    width: 80px;
                    height: 80px;
                }
            }
          .info_1{
              margin-left: 20px;
              margin-right: 30px;
          }

            .info_2 {
                margin-right: 20px;
                border: 1px solid #f3f3f3;
                    a{
                        display: inline-block;
                        width: 204px;
                    }
                    
            }

            .info_3{
            width: 208px;
            height: 40px;
            }
            .info_4{
                margin-left: 100px;
            }
            .info_5{
                margin-left: 100px;
            }
            .info_6{
                margin-left: 100px;
            }
            .info_6 input {
               
                width: 30px;
                height: 18px;
                position: relative;
                text-align: center;
                top: -1px;
                left: -5px;
                vertical-align: middle;
            }

            .but {
                position: relative;
                left: -10px;
            }

            .info_6 button {
                width: 30px;
                height: 18px;
            }

            .info_7{
                margin-left: 100px;
            }
            .info_8{
                width: 50px;
                margin-left: 130px;
            }
            .info a {
                font-size: 12px;
                color: #333333;
            }

            .balance {
                width: $width;
                height: 50px;
                margin: auto;
                border: 1px solid #f3f3f3;
                margin-top: 20px;
            }
    
            .balance li {
                float: left;
                margin-left: 8px;
                line-height: 50px;
            }
    
            .balance_ul2 {
                float: right;
    
            }
    
            .balance_ul2 span {
                font-size: 18px;
                color: #C91623;
                font-weight: bold;
            }
    
            .balance_ul2 button {
                width: 100px;
                height: 50px;
                background-color: #c91623;
                border: 1px solid #c91623;
                font-weight: bold;
                font-size: 18px;
                color: white;
            }
    