@charset "utf-8";


$width:1230px;
@mixin padding {
    margin: 0;
    padding: 0;
}
@mixin banxin{
    width: 1230px;
    // height: 70px;
    margin: 0 auto;
}

@mixin container {
    width: 100vw;
}

.container{
    @include container()
}

