@charset "utf-8";

$max-width: 1680px;
$width:1230px;
$color:#005aaa;
@mixin padding {
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner_wrap{
    max-width: $max-width;
    margin: 0 auto;
        .bgpic{
            width: 100%;
            min-height: 420px;
            margin: 0 auto;
        }
}

//面包屑
.bread_wrap{
    max-width: $max-width;
    margin: 0 auto;
    border-bottom: 1px solid #eee;
        nav{
            width: $width;
            margin: 0 auto;
                .shouye{
                    font-size: 14px;
                    line-height: 60px;
                    &:hover{
                        color: $color;
                    }
                }
        }
}

nav>.menu{
    display: inline-block;
    padding: 8px 25px 8px 10px;
    border: 1px solid #e4e4e4;
    position: relative;
        &:hover .list_ul{
            display: block;
        }
        .list_ul{
            position: absolute;
            top: 30px;
            left: 0;
            background: #fffdfc;
            width: 310px;
            box-shadow: 0 5px 5px rgba(0,0,0,.1);
            border: 1px solid #f5f5f5;
            padding: 10px;
            display: none;
                dl{  
                    padding-left: 10px;
                    a{
                        display: inline-block;
                        color: #444;
                        line-height: 40px;
                        font-size: 12px;
                        height: 40px;
                        cursor: pointer;
                        margin-right: 5px;
                    }
                }
        }
}
.list_ul>li{
    float: left;
    padding-right: 48px;
        .iconfont{
            font-size: 18px;
        }
}

//标题
.title_wrap{
    max-width: $max-width;
    height: 64px;
    margin: 0 auto;
    background: #fafafa;
    padding: 15px 0 5px;
    overflow: hidden;
        .title_bx{
            width: $width;
            height: 100%;
            margin:0 auto;
                .name_box{
                    white-space: nowrap;
                    display: inline-block;
                    vertical-align: top;
                    margin: 15px 0;
                        .name{
                            line-height: 30px;
                            display: inline-block;
                            font-size: 20px;
                            padding: 0 15px 0 17px;
                            border-left: 4px solid #005aaa;
                            color: #000;
                        }
                        .prodect_num{
                            display: inline-block;
                            line-height: 30px;
                            vertical-align: top;
                            color: #444;
                            font-size: 12px;
                        }
                }
               
        }
}

// 主体内容导航
.main_wrap{
    max-width: $max-width;
    margin: 0 auto;
        .main_center{
            width: $width;
            height: 40px;
            border: 1px solid #ddd;
            margin: 0 auto;
            margin-bottom: 30px;
                .list_ol{
                    margin-right: 20px;
                    display: inline-block;
                        li{
                            display: inline-block;
                            border-right: 1px solid #ddd;
                            width: 98px;
                            text-align: center;
                            font-size: 14px;
                            line-height: 39px;
                            cursor: pointer;
                        }

                }
        }
}

.list_ol>.active{
    background: #005aaa;
    color: #fff;
}
.main_center .price_box{
    height: 50px;
    vertical-align: top;
    position: relative;
    display: inline-block;
    padding-top: 6px;
    position: relative;
        &:hover .bg{
            display: block;
        }
        &:hover .anniu{
            display: block;
        }
        .anniu{
            position: absolute;
            top: 50px;
            width: 100%;
            text-align: right;
            line-height: 20px;
            left: 0;
            display: none;
                button{
                    border: none;
                    padding:2px 10px;    
                }
                .sure{
                    background: $color;
                    color: #fff;
                }
        }
        .bg{
            position: absolute;
            top: -1px;
            left: -10px;
            right: -10px;
            display: none;
            background: #fff;
            box-shadow: 0 0 4px #ddd;
            height: 80px;
            z-index: -1;
            border: 1px solid #ececec;
            width: 180px;
             
        }
        .inp{
            display: inline-block;
            border: 1px solid #ccc;
                input{
                    padding: 12px 0;
                    font-size: 12px;
                    height: 12px;
                    line-height: 12px;
                    margin-left: 8px;
                    width: 65px;
                    border: none;
                }
        }

}

//商品列表
.goods_wrap{
    width: $width;
    // min-height:2000px;
    margin: 0 auto;
    position: relative;
        .goods_content{
            margin: 0 207px 0 3px;
            // min-height: 655px;
            padding-bottom: 80px;
                .goods.box{
                    margin-bottom: 30px;     
                }
                .list_li{
                    width: 230px;
                    height: 380px;
                    font-size: 12px;
                    padding: 25px 10px 45px;
                    float: left;
                    text-align: center;
                    margin:0 12px 20px ;
                            h3{
                                font-weight: normal;
                                height: 42px;
                                overflow: hidden;
                                line-height: 20px;
                                color: $color;
                                margin:10px 0;
                                font-size: 14px;
                                text-align: left;
                            }
                            .price{
                                margin-bottom: 10px;
                                font-size: 12px;
                                    span{
                                        color: #888;
                                    }
                                    em{
                                        color: $color;
                                    }
                            }
                    
                 }
        }
}

    .list_li .img_box{
        display: block;
            img{
                width: 100%;
            }  
    }
.list_li:hover{
    box-shadow: 0 0 10px #ddd;
}

.page_wrap{
    height: 26px;
    width: $width;
    margin: 0 auto;
    margin-bottom: 20px;
        .page_box{
            margin: 0 12px;
            display: inline-block;
            line-height: 26px;
                }
                a{
                    display: inline-block;
                 
                    min-width: 38px;
                   
                    text-align: center;
                }
                .pege_nb{
                     font-size: 14px;
                    margin-right: 10px;
                    color: #fff;
                    background: #0c5ca8;
                    border: 1px solid #0c5ca8;
                    border-radius: 4px;
                    cursor: pointer;
                }

        }


