/* 头部 */
header{
    width: 100%;
    height: 60px;
}
.container{
    width: 1236px;
    height: 60px;
    margin: 0 auto;
}

.registry{
    width: 618px;
    height: 60px;
    float: left;
    line-height: 60px;
}
.registry>a{
    text-decoration: none;
    cursor: pointer;
}
.registry .logo{
    display: inline-block;
    width: 71px;
    height: 21px;
    line-height: 60px;
}
.logo>img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.container span{
    font-size: 16px;
    vertical-align: middle;
}
.nav-right{
    float: right;
    line-height: 60px;
    font-size: 16px;
}
.nav-right a{
    color: #32ccff;
}

.clear{
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    content: '';
}
/* 内容 */
.bg-color{
   background-color: #ececec;
   width: 100%;
   background: url(https://user.haier.com/cn/images/vipuser_zhuce_bg3.jpg)no-repeat;
}
.bg-center{
    width: 1236px;
    height: 770px;
    margin: 0 auto;
}
.bg-center .main-title{
    width: 840px;
    height: 117px;
    margin: 0 auto;
}
.main-title>p{
    width: 840px;
    height: 85px;
    line-height: 85px;
    font-size: 28px;
    color: #333;
    text-align: center;
}
.form-wrap{
    width: 840px;
    height: 440px;
    margin: 0 auto;
    background: #fff;
    padding-top: 32px;
}

.form-wrap form{
    width:454px ;
    height: 420px;
    margin: 0px auto;
}
.form-wrap form p{
    margin-top: 1em;
}
.form-wrap form p>label{
    margin-right: 20px;
    font-size: 1.4em;
    margin-left: -27px;
    line-height: 40px;
    color: #666666;
}
.form-wrap form p>input{
    width: 360px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    color: #999;
    outline: none;
    padding: 3px 3px 3px 11px;
    border: 1px solid #d6dbdd;
    margin: 0 auto;
}
.form-wrap form button{
    background: #c6cacb;
    width: 360px;
    height: 50px;
    display: block;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    font-size: 1.4em;
    letter-spacing: 2px;
    border: none;
    margin-top: 1em;
    color: #fff;
}
.form-wrap .agreen i{
    display:inline-block ;
    width: 24px;
    height: 24px;
    background: url(../img/login_icon_1010.gif)no-repeat 0 -282px;
    vertical-align: middle;
}
.form-wrap .agreen i:active{
    display:inline-block ;
    width: 24px;
    height: 24px;
    background: url(../img/login_icon_1010.gif)no-repeat 0 -306px;
    vertical-align: middle;
}
/* .form-wrap .agreen i */
/* #checkbox{
    width: 24px;
    height: 24px;
    vertical-align: middle;
} */
.form-wrap .agreen{
    margin-top: 1.8em;
    margin-bottom: 20px;
    height: 24px;
    text-indent: 35px;
    line-height: 24px;
    font-size: 14px;
    position: relative;
}

/* 底部 */
footer{
    width: 100%;
    height: 56px;
    background: #2b2c2d;
}
.bottom{
    width: 1236px;
    height: 56px;
    margin: 0 auto;
    line-height: 56px;
}

.bottom .bottom-left>a{
    display: inline-block;
    height: 15px;
    color: #666;
    font-size: 12px;
    line-height: 15px;
    padding: 0 15px;
    border-right: 1px solid #515252;
}
.bottom .bottom-left>a:last-child{
    border-right: none;
}
.bottom .bottom-right{
    float: right;
    line-height: 56px;
    color: #666;
    font-size: 12px;
}